@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  background-color: #77B28C;
  overflow: auto;
}

/**Gestion du main*/
.main-content {
  margin: 0 0.5rem;
}

p {
  margin: 0.3rem 0;
}

body {
  font-family: "Roboto", Helvetica, sans-serif;
}

/*
Gestion de la partie header du projet
*/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  padding: 1rem;
  background-color: #499F68;
  border-radius: 10px;
}

.header_paragraphe {
  margin: 0.5rem 0;
}

/**Gestion du footer*/
.footer {
  display: flex;
  justify-content: center;
  color: #c2c5bb;
  height: 5rem;
  width: 100%;
  padding: 0.5rem 0;
  background-color: #157A6E;
}

/**Gestion de la partie formulaire*/
.form {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form div {
  display: flex;
  width: 100%;
  align-items: center;
}

input {
  border: none;
  background-color: #c2c5bb;
  padding: 0.3rem;
  border: 0.1rem solid #157A6E;
  border-radius: 0.3rem;
  margin: 0.2rem 0;
  color: #033b35;
  width: 90%;
  height: 100%;
}

input:focus {
  outline: #157A6E solid 1px;
}

.form div label {
  width: 100%;
}

.form-modification {
  display: flex;
  flex-direction: column;
}

/** Classes générique */
.box {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #157A6E;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.3rem 0;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: #499F68;
}

/* gestion de la partie decoupage */
.section-decoupage {
  display: flex;
  flex-direction: column;
}

/**Gestion de la partie découpage des besoins du mois*/
.decoupage_besoins {
  display: flex;
  justify-content: space-around;
  column-gap: 2rem;
  margin: 1rem 0;
}

.besoins_items {
  margin: 0.5rem 0;
}

.divContainerText {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerBtnEdition {
  position: absolute;
  display: flex;
  right: -2.5rem;
  column-gap: 0.3rem;
  padding: inherit;
  background-color: #157A6E;
  border-radius: 0 5px 5px 0;
  border: 1px solid #499F68;
  display: none;
}

.containerBtnEdition i {
  padding: 2px;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .decoupage_besoins {
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }
}
.card:hover .containerBtnEdition {
  animation: 3s ease-in 1s infinite reverse both paused slidein;
  display: flex;
}

.card:hover .divContainerText strong {
  animation: 3s ease-in 1s infinite reverse both paused slidein-strong;
}

@keyframes slidein {
  100% {
    right: 1rem;
  }
}
@keyframes slidein-strong {
  100% {
    transform: translateX(-3.9rem);
  }
}
.btn_content {
  display: flex;
  row-gap: 0.5rem;
}

.btn {
  border-style: none;
  border: 0.1rem solid rgb(83, 80, 80);
  border-radius: 0.18rem;
  background-color: #b4654a;
  border: none;
  padding: 0.4rem 1rem;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
