$box-color: #157A6E;
$card-color: #499F68;
$btn-color: #b4654a;
$input-color: #c2c5bb;
$text-color: #033b35;
$main-background: #77B28C;
$white-color: white;
$main-margin: 0 .5rem;
$main-margin-tb: 1rem 0;
$main-margin-footer: 2rem 5rem;
$main-card-padding: .3rem 0;
$main-box-padding: 1rem;
$main-border-radius: 10px;
$main-input-margin: .2rem 0;
$main-input-radius: .3rem;
$main-input-padding: .3rem;
$box-rdius: 0.5rem;